{% load static %}

<!-- widget section start -->
<section class="widget-section padding">
    <div class="container">
        <div class="widget-wrap row">
            <div class="col-md-4 xs-padding">
                <div class="widget-content">
                    <img src="{% static 'images/logo.png' %}" alt="logo" style="width: 120px;">
                    <p>The secret to happiness lies in helping others. Never underestimate the difference YOU can make in the lives of the poor</p>
                    <ul class="social-icon">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 xs-padding">
                <div class="widget-content">
                    <h3>Recent Campaigns</h3>
                    <ul class="widget-link">
                        <li><a href="#">First charity activity of this summer. <span>-1 Year Ago</span></a></li>
                        <li><a href="#">Big charity: build school for poor children. <span>-2 Year Ago</span></a></li>
                        <li><a href="#">Clean-water system for rural poor. <span>-2 Year Ago</span></a></li>
                        <li><a href="#">Supporting the poor in rural areas</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 xs-padding">
                <div class="widget-content">
                    <h3>Charitify Location</h3>
                    <ul class="address">
                        <li><i class="ti-email"></i> <a href="">contact@nicseuf.org</a></li>
                        <!-- <li><i class="ti-email"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ca83a4aca58a93a5bfb88ea5a7aba3a4e4a9a5a7">[email&#160;protected]</a></li> -->
                        <li><i class="ti-mobile"></i> +(333) 052 39876</li>
                        <li><i class="ti-world"></i> www.nicseuf.org</li>
                        <li><i class="ti-location-pin"></i> 5 Ihemjikara ejike, street onitsha aba, 560078</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./Widget Section -->